<%- include('./partials/header') %>

<div class="container mt-5">

<div class="alert alert-danger">

    <h1>Error</h1>

    <p>
        Something went wrong.
    </p>

</div>

</div>

<%- include('./partials/footer') %>
